@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root{
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;/*to remove underline*/
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
}

.header-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}
.nav{
    display: none;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
    gap: 1.5rem;
}
@media screen and (min-width:1210px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color:#718096;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-link{
    border: none;
    border-radius: 0.375rem;
    display: none;
    align-items: center;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 1rem;
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 4rem;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem 1.1rem;
}
@media screen and (min-width:1210px){
    .contact-link{
        display: block;
    }
}
@media screen and (max-width:1210px){
    .menu-button{
        display: block;
    }
}
.contact-link:hover{
    background-color: #5254f8;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section{
    /*width: 1680px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    align-items: center;
    margin: 0 auto;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 1500px;
    padding: 0;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--primary-color);
}
.section-title{
    font-size: 4rem;
    color: var(--text-color);
    padding: 1rem;
}
.section-description{
    color: var(--gray);
    font-size: 1.7rem;
    padding: 1rem;
}
.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.start-button{
    
    border: none;
    border-radius: 0.375rem;
    font-size: 1.7rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 1rem;
}
.tour-button{
    border: none;
    border-radius: 0.375rem;
    font-size: 1.7rem;
    background-color: var(--dark-gray);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 1rem;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}
.section-image{
    height: 100%;
    width: 100%;
}
/*@media screen and (max-width:1680px){
    .main-section{
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
    }
}*/
@media screen and (min-width:1680px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .section-description{
        padding-left: 0;
        width: 80%;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .image-container{
        height: 60vh;
        padding-right: 0;
    }
}
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    padding: 0;
    animation: slideFromLeft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    /*width: 1680px;*/
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
}
.para{
    font-size: 2rem;
}
.company-body{
    width: 1680px;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    gap: 0.5rem;
}
.svg-img{
    height: 4.5rem;
}
.logo txt{
    color: var(--text-color);
}
@media screen and (min-width:1680px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
}
.feature-container{
    background-color: var(--light-gray);
    padding: 2rem 0;
}
.feature-content{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-info{
    margin-bottom: 2rem;
}
.main-title{
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}
.main-description{
    color: var(--gray);
    font-size: 1.7rem;
}
.feature-grid{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns:repeat(2,1fr);
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.icon-container{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d8e6e;
    padding: 3rem;
    border-radius: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.feature-description{
    color: white;
    font-size: 1.3rem;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
@media screen and (max-width:1500px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial-container{
    background-color: var(--background-color);
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1500px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 2rem;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 0.8rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.5rem;
    gap: 1.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    border: 1px solid blue;
}

.testimonial-image{
    border-radius: 50%;
}
.testimonial-text{
    font-size: 1.3rem;
}
.testimonial-details{
    font-size: 1.3rem;
}
.testimonial-name{
    color: rgb(78, 78, 173);
}
@media screen and (max-width:1200px){
    .testimonial-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:900px){
    .testimonial-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.newsletter-container{
    background-color: var(--background-color);
    /*padding: 3rem;*/
    max-width: 1500px;
    height: 30vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}
.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.news-left{
    width: 50%;
    display: none;
    position: relative;
}
.news-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    justify-content: center;
    align-items: flex-start;
}
.news-title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
}
.news-info{
    padding:  0 2rem;

}
.news-desc{
    text-align: left;
    color: #555;
}
.news-form{
    padding: 0 2rem;
    display: flex;
    /*flex-wrap: wrap;*/
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0rem 2rem;
}
.news-email:focus{
    border-color: blue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.news-send-button:hover{
    background-color: rgb(91, 91, 195);
}

.news-terms{
    padding: 1.6rem;
    margin-left: 0.1rem;
   
}
.a{
    text-decoration: underline;
    color: #3f83f8;
}
.news-link{
    font-size: 0.8rem;
}
@media screen and (min-width:1000px){
    .news-left{
        display: block;
    }
    .newsletter-container{
        padding: 3rem;
    }
}
.footer-container{
    max-width: 1500px;
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 1500px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.logo-svg{
    width: 2rem;
    height: 2rem;
}
.social-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.logo-link{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0rem;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
}
.comp-logo{
    
}
.filler-text{
    font-size: 1.1rem;
    color: #777;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 70%;
    grid-gap: 5.5rem;
}
.footer-grid-heading{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
}
ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 1.3rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.2rem;
}
.footer-copyright{
    width: 1500px;
    margin-top: 1rem;
    color: var(--gray);
    font-size: 1rem;
    padding-bottom: 2rem;
    border-top: 1px solid #E5E7Eb;
}
@media screen and (max-width:1550px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding: 1.5rem;
    }
}
@media screen and (max-width:1100px){
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
        margin-left: 15rem;
        margin-right: -10rem;
    }
}
@media screen and (max-width:870px){
    .footer-grid{
        grid-template-columns: repeat(1,1fr);
        margin-left: 30rem;
        margin-right: -10rem;
    }

}



